<div class="container paddingBottom30">
  <div class="row border1 paddingTop15">
    <div class="col-sm-4">
      <img src="https://365psd.com/images/previews/ab7/vector-girl-holding-megaphone-25843.jpg" alt="Megaphone image"
           height="100">
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4 alignright paddingBottom30">
      <img src="https://img.clipartimage.com/ear-clipart-listening-listener-clipart-290_450.jpg" alt="Image listener"
           height="100">
    </div>
  </div>
  <div class="row centrerText">
    &copy;
    {{today | date:'y'}}
    Molowayi Ntambwe Alex
  </div>
</div>
