<div class="container">
  <div class="row paddingTop30 paddingBottom30">
    <div class="col-sm-4 alignatleft">
      <img src="https://365psd.com/images/previews/ab7/vector-girl-holding-megaphone-25843.jpg" alt="Megaphone image"
           height="300">
    </div>
    <div class="col-sm-4 paddingBottom30 centrerText">
      <img src="https://images.stockfreeimages.com/1685/sfi226w/16853844.jpg" alt="secretary" height="300">
    </div>
    <div class="col-sm-4 alignright">
      <img src="https://img.clipartimage.com/ear-clipart-listening-listener-clipart-290_450.jpg" alt="Image listener"
           height="300">
    </div>
  </div>
  <div class="row paddingTop30 border1" id="footer_fake">
    <div class="col-sm-4">
      <p class="blackbackground">Students</p>
      <ul>
        <li><a routerLink="/list_students">List</a></li>
        <li><a routerLink="/students">Add</a></li>
        <li><a href="">Search</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <p class="blackbackground">Staff</p>
      <ul>
        <li><a routerLink="/list_staff">List</a></li>
        <li><a routerLink="/staff">Add</a></li>
        <li><a routerLink="/staff">Search</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <p class="blackbackground">Messages</p>
      <ul>
        <li><a routerLink="/list_messages">List</a></li>
        <li><a routerLink="/messages">Add</a></li>
        <li><a href="">Search</a></li>
      </ul>
    </div>
  </div>
</div>
